// Here you can add other styles

.clickable-icon:hover {
    color: green;
}

.browse_cards {
    min-height: 15em;
    max-height: 30em;
}

.browse_header {
    background-color: rgb(155, 208, 241);
}
.browse_body {
    background-color: rgb(184, 207, 172);
}